<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- ====================AppServerUrl 开始==================== -->
    <add key="AppServer" value="http://cctel3.cc.lenovo:81/"/>
    <!--是否紧急登录，紧急登录时不校验用户密码和权限-->
    <add key="IsUrgentLogin" value="false"/>
    <!--Aspose.Cells License 目录-->
    <add key="AsposeLicPath" value="E:\Work\WorkSpace\SDI2\Lenovo.Tele\Ref\License.lic"/>
    <add key="Report_ServerUrl" value="http://127.0.0.1/ReportServer/"/>
    <add key="Report_UserName" value="gaoadmin"/>
    <add key="Report_UserPassword" value="Lzl(tht)1309"/>
    <add key="Report_Domain" value=""/>
    <!-- Genesys-cfg数据库架构,目前只有dbo或cti -->
    <add key="Genesys.schema" value="cti"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="SPhoneEntities" connectionString="metadata=res://*/SPhone.csdl|res://*/SPhone.ssdl|res://*/SPhone.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=SPhone;persist security info=True;user id=SoftPhone;password=SoftPhone@2013;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="genesys_cfgEntities" connectionString="metadata=res://*/genesys_cfg.csdl|res://*/genesys_cfg.ssdl|res://*/genesys_cfg.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=genesys_cfg;persist security info=True;user id=SoftPhone;password=SoftPhone@2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="genesys_ersEntities" connectionString="metadata=res://*/genesys_ers.csdl|res://*/genesys_ers.ssdl|res://*/genesys_ers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=genesys_ers;persist security info=True;user id=SoftPhone;password=SoftPhone@2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.webServer>
    <modules>
      <add name="ApplicationErrorModule" type="Tele.Common.ApplicationErrorModule,Tele.Common"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
</configuration>