<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Commons" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Logging" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Configuration.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Management.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Commons.Collections" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Commons.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Commons.Connection" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Core" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.WebMedia.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Commons.Collections.Binding" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Contacts.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.OpenMedia.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Outbound.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Voice.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>