<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<add key="chatHost" value="10.99.36.158" />
		<add key="chatPort" value="4813" />
		<add key="appName" value="WebAPIServer" />
		<add key="appServer" value="http://spuat.cc.lenovo/" />
		<add key="appServerDb" value="http://spuat.cc.lenovo:81/" />
		<add key="fileServer" value="http://10.99.36.33:81/" />
		<add key="uploadPath" value="/Content/Upload/" />
		<!-- **********************log4net配置********************** -->
		<add key="log4net.Config" value="log4net.config" />
		<add key="log4net.Config.Watch" value="True" />
		<!-- **********************log4net配置********************** -->

	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Commons" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Logging" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Configuration.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Management.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Commons.Collections" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Commons.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Commons.Connection" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Core" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.WebMedia.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Commons.Collections.Binding" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Contacts.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.OpenMedia.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Outbound.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Voice.Protocols" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
