<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Genesyslab.Platform.Commons" publicKeyToken="2248646200015f60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.401.8" newVersion="8.1.401.8" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>