<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!-- Genesys-cfg数据库架构,目前只有dbo或cti -->
    <add key="Genesys.schema" value="dbo" />
  </appSettings>
  <connectionStrings>
    <add name="SPhoneEntities" connectionString="metadata=res://*/SPhone.csdl|res://*/SPhone.ssdl|res://*/SPhone.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.99.36.158;initial catalog=SPhone;persist security info=True;user id=SoftPhone;password=SoftPhone@2013;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="genesys_cfgEntities" connectionString="metadata=res://*/genesys_cfg.csdl|res://*/genesys_cfg.ssdl|res://*/genesys_cfg.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.99.36.158;initial catalog=genesys_cfg;persist security info=True;user id=SoftPhone;password=SoftPhone@2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="genesys_ersEntities" connectionString="metadata=res://*/genesys_ers.csdl|res://*/genesys_ers.ssdl|res://*/genesys_ers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.99.36.158;initial catalog=genesys_ers;persist security info=True;user id=SoftPhone;password=SoftPhone@2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>