<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StatServiceSoap" />
                <binding name="CfgServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:32622/StatService.asmx" binding="basicHttpBinding"
                bindingConfiguration="StatServiceSoap" contract="StatServiceReference.StatServiceSoap"
                name="StatServiceSoap" />
            <endpoint address="http://localhost:32622/CfgService.asmx" binding="basicHttpBinding"
                bindingConfiguration="CfgServiceSoap" contract="CfgServiceReference.CfgServiceSoap"
                name="CfgServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>